.section {
  padding: 145px;
}

.section {
  padding: 105px;
}

.section-title {
  line-height: 0;
  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    color: #648cff;
  }

  h4 {
    text-align: center;
    font-size: 18px;
    padding-top: 33px;
  }
}

.section-content {
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #353854;
    margin-left: 96px;
  }

  p {
    margin-left: 102px;
    margin-right: 50px;
  }
}

.section-icon {
  float: left;
  margin-right: 21px;
  margin-top: -38px;
}

.section-content1 {
  float: left;
}

.section-content2 {
  float: left;
}

.section-content3 {
  position: absolute;
  top: 1176px;
  left: 1175px;
}

.widget{
  margin-left: 58px;
}
span{
  margin-left: 50px;
  position: relative;
  top: 120px;
  font-weight: bold;
}

.span1{
  left: 437px;
}
.span2{
  left: 453px;
}
.span3{
  left: 615px;
}
.span4{
  left: 779px;
}